venv
.git
.gitignore
asynfed.egg-info
fedasync.egg-info
Diagram.drawio
Diagram.png
.DS_Store
training_process/server
training_process/client/data
training_process/client/weights
profile.json

asynfed/server

test
deploy_client
weights
logs