*/__pycache__/*
*/.DS_Store
.idea/*
*.pyc
*.pyo
*.pyd
venv/*
.env
# *.pkl
*.npz
.DS_Store
.log
.vscode/*
profile.json

build
asynfed.egg-info
dist

test/main_test/server/logs
test/main_test/server/weights
test/main_test/client/logs
test/main_test/client/weights

training_process/server/weights
training_process/server/logs
training_process/client/weights
training_process/client/logs
